body {
    padding: 20px;
}

.amount {
    border: 4px solid darkblue;
    max-width: 305px;
    margin: 20px;
    padding: 10px;
}

.title {
    font-weight: bolder;
}
.results {
    font-weight: 800;
}

form {
    margin-bottom: 20px;
}
