body {
    padding: 20px;
}

p {
    font-size: 14px;
}

p.ex2 {
    display: inline;
}

.amount {
    border: 4px solid darkblue;
    max-width: 305px;
    margin: 20px;
    padding: 10px;
}

.title {
    font-weight: bolder;
}

label {
    font-weight: 800;
}

.results {
    font-weight: 800;
}

form {
    margin-bottom: 20px;
}
