body {
    padding: 40px;
}

.famount {
    border: 4px solid silver;
    max-width: 300px;
    margin: 10px;
    padding: 20px;
}

.title {
    font-weight: bolder;
}
.results {
    font-weight: 900;
}